.info-master-container{
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(214, 219, 196);
    margin-top: -20vh;
    color: white;
}

.info-master-container > h1{
    margin-top: 20vh;
    font-size: 50px;
    letter-spacing: 5px;
}


.info-container{
    margin-top: 10vh;
    width: 90%;
    height: 700px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}
