@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(20px);
    }
    
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-20px);
    }
    
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(20px);
    }

    100%{
        transform: translateY(0px);
    }
}

.intro-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.7)), url(../images/robbie-koeck-s3B4Vpe6DPY-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
    color: #FFFFFF;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 20px;
    right: 30px;
}

.logo-container > img{
    width: 40px;
}

.intro-text-container{
    height: 300px;
    display: flex;
    flex-direction: column;
}

.intro-text-container > h1{
    font-size: 50px;
    letter-spacing: 25px;
    animation: moveInLeft 1s;
}

.intro-text-container > p{
    font-size: 25px;
    letter-spacing: 12px;
    animation: moveInRight 1s;
}

.intro-text-container > span{
    display: flex;
    height: 100px;
    justify-content: center;
    padding-top: 40px;
}

.intro-text-container > span > svg{
    animation: bounce 2s infinite
}


@media only screen and (max-width: 800px) {
    
    .intro-text-container > h1{
        font-size: 40px;
        letter-spacing: 10px;
        animation: moveInLeft 1s;
    }
    
    .intro-text-container > p{
        font-size: 25px;
        letter-spacing: 6px;
        animation: moveInRight 1s;
    }
}

@media only screen and (max-width: 600px) {
    
    .intro-text-container > h1{
        font-size: 30px;
       
        animation: moveInLeft 1s;
    }
    
    .intro-text-container > p{
        font-size: 20px;
        animation: moveInRight 1s;
    }

}