.navbar-link-container{
    width: 75px;
    height: 75px;
    background-color: white;
    position: fixed;
    left: 75px;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 50%;
}

.nav-dropdown-container{
    height: 100px;
    position: fixed;
    left: 65px;
    top: 200px;
    width: 100px;
    z-index: 1;
}

.nav-dropdown-box button{
    border: none;
    height: 50px;
    color: #3397DE;
    border-bottom: 1px solid #3397DE;
    background-color: white;
}